@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.BV-header {
  background-color: #010440 !important;
  height: 130px; }

.seccion-actual {
  color: #F2C335; }

.seccion-otra {
  color: #ffffff;
  text-decoration: none; }

.BV-menu {
  background-color: #010440; }

.BV-navBar li a {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px; }

.BV-navBar li a:hover {
  color: #F2C335; }

.navbar-toggler {
  background-color: #ffffff; }

.lineaSeparadora {
  display: block;
  position: relative;
  padding: 0;
  margin: 15px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff; }

.footer {
  width: 100%;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
  /* contenedor-grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 140px;
  grid-template-areas: "copyR redes ssn matricula qr";
  align-items: center; }

.copyR {
  grid-area: copyR;
  justify-self: right;
  align-self: center; }
  .copyR h2 {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; }

.redes {
  grid-area: redes;
  padding-left: 20px; }

.ssn {
  grid-area: ssn;
  justify-self: center; }

.matricula {
  grid-area: matricula;
  justify-self: right;
  text-align: right; }
  .matricula h2 {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; }

.qr {
  grid-area: qr;
  padding-left: 20px; }

.qrAfip {
  width: 66px;
  height: 90px; }

.logoRedes {
  width: 32px;
  height: 32px; }

.homeSeccTitulo {
  background-image: url("../assets/img/guarda_hogar.webp");
  width: 100%;
  height: 460px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
  .homeSeccTitulo h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #F2F2F2;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center; }

.homeSeccServicios {
  width: 100%; }
  .homeSeccServicios h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.324);
    text-align: center;
    position: relative;
    top: -80px; }

.cardServcios {
  box-sizing: border-box;
  position: relative;
  width: 250px;
  height: 250px;
  top: -70px;
  background: #010440;
  border: 1px solid #000000;
  overflow: hidden;
  display: inline-block;
  margin: 10px; }
  .cardServcios img {
    width: 249px;
    height: 152px;
    position: center; }
  .cardServcios div h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -30px;
    text-align: center; }
  .cardServcios div p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -15px;
    margin: 5px; }

.logosCompanias {
  background-color: #D3D0D0;
  width: 100%;
  height: 190px;
  padding-top: 30px; }
  .logosCompanias div a img {
    margin-left: 70px;
    margin-right: auto; }

.quienEsLaura {
  grid-area: mapaGoogle;
  justify-self: center;
  background-image: url("../assets/img/quienes.png");
  width: 468px;
  height: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px; }

.contactoFondo {
  background-image: url("../assets/img/contacto-fedpat.png");
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.contactoMedio {
  background-color: #0055A2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "mapaGoogle contactoTexto";
  justify-content: center; }

.mapaGoogle {
  grid-area: mapaGoogle;
  justify-self: center;
  background-image: url("../assets/img/mapa.png");
  width: 617px;
  height: 485px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.contactoTexto {
  grid-area: contactoTexto;
  justify-self: center;
  align-self: center;
  background-color: #010440;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.contactoBase {
  background-color: #0055A2;
  width: 100%;
  height: 60px; }

.cotizaFondo {
  background-image: url("../assets/img/fondo-cotiza.png");
  width: 100%;
  height: 230px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.titulo-formulario {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 40px;
  padding-top: 20px;
  grid-area: titform; }
  .titulo-formulario h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.324);
    text-align: center;
    position: relative;
    top: -80px;
    top: 0px;
    font-size: 35px;
    text-align: left; }
  .titulo-formulario h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 56px;
    color: #F2F2F2;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left; }

.cotiza-formulario {
  background-color: #010440;
  width: 100%;
  height: 230px;
  grid-area: fomul;
  justify-self: center;
  align-self: center;
  color: #F2F2F2; }

.cotizaMedio {
  width: 100%;
  height: 300px;
  background-color: #0055A2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "titform fomul";
  justify-content: center; }

.serv-card {
  background-color: #0055A2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "simg stexto stexto stexto stexto stexto";
  justify-content: center;
  width: 100%;
  height: 220px;
  margin-bottom: 20px; }

.serv-img {
  grid-area: simg;
  align-items: center;
  justify-content: center; }
  .serv-img img {
    justify-self: center;
    align-self: center; }

.serviciosH1 {
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  justify-content: center; }
  .serviciosH1 h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.324);
    text-align: center;
    position: relative;
    top: -80px;
    top: 0px;
    font-size: 35px; }

.serv-card-texto {
  grid-area: stexto;
  justify-self: center;
  align-self: center;
  background-color: #010440;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

@media (max-width: 768px) {
  .navBar li a {
    font-size: 24px; } }

@media (max-width: 540px) {
  .navBar li a {
    font-size: 18px; } }

@media (max-width: 440px) {
  .navBar {
    flex-direction: column;
    gap: 10px;
    margin-right: 10px; } }

@media screen and (max-width: 420px) {
  .header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "logo logo" "menu menu" "menu menu"; }
  .logo {
    grid-area: logo;
    justify-self: center;
    margin: 10px; }
  .navBar {
    flex-direction: row;
    gap: 10px;
    margin-right: 10px;
    flex-wrap: wrap; }
  .contactoFondo {
    height: 130px; }
  .contactoMedio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "mapaGoogle" "contactoTexto";
    justify-content: center; }
  .mapaGoogle {
    width: 352px;
    height: 277px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .quienEsLaura {
    grid-area: mapaGoogle;
    width: 328px;
    height: 300px; }
  .footer {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "copyR redes" "ssn ssn" "matricula qr";
    align-items: center;
    gap: 5px; }
  .copyR {
    justify-self: center;
    text-align: center; }
  .redes {
    grid-area: redes;
    justify-self: center; }
  .qr {
    grid-area: qr;
    justify-self: center; }
  .qrAfip {
    width: 45px;
    height: 68px; }
  .matricula {
    grid-area: matricula;
    justify-self: center;
    text-align: center; } }
