@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: aqua;
  background-image: url("../../assets/img/mapa.png");
  display: grid;
  justify-content: center;
  align-items: end;
  grid-column: repeat(3, 1fr); }

.navBar, .section2 {
  list-style: none; }
  .navBar li, .section2 li {
    font-size: 20px; }
    .navBar li a, .section2 li a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      color: black; }
      .navBar li a:hover, .section2 li a:hover {
        color: white; }

.section2 li {
  font-size: 40px; }

main {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
