@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.BV-header {
  background-color: #010440 !important;
  height: 80px; }

.seccion-actual {
  color: #F2C335; }

.seccion-otra {
  color: #ffffff;
  text-decoration: none; }

.BV-menu {
  background-color: #010440;
  z-index: 10; }

.BV-navBar li a {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 38px; }

.BV-navBar li a:hover {
  color: #F2C335; }

.navbar-toggler {
  background-color: #ffffff; }

.lineaSeparadora {
  display: block;
  position: relative;
  padding: 0;
  margin: 15px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
  overflow: auto; }

.footer {
  width: 100%;
  height: 140px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: #000000;
  mix-blend-mode: normal;
  /* contenedor-grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 140px;
  grid-template-areas: "copyR redes ssn matricula qr";
  align-items: center; }

.copyR {
  grid-area: copyR;
  justify-self: right;
  align-self: center; }
  .copyR h2 {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; }

.redes {
  grid-area: redes;
  padding-left: 20px; }

.ssn {
  grid-area: ssn;
  justify-self: center; }

.matricula {
  grid-area: matricula;
  justify-self: right;
  text-align: right; }
  .matricula h2 {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px; }

.qr {
  grid-area: qr;
  padding-left: 20px; }

.qrAfip {
  width: 66px;
  height: 90px; }

.logoRedes {
  width: 32px;
  height: 32px; }

.home-Titulo {
  background-image: url("../assets/img/guarda_hogar.webp");
  width: 100%;
  height: 460px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }
  .home-Titulo h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 56px;
    color: #F2F2F2;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-top: 20px; }

.home-SubTitulo {
  width: 100%;
  height: auto;
  position: relative;
  top: -90px; }
  .home-SubTitulo h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    text-align: center;
    position: relative;
    font-size: 2.5rem; }

.home-Servicios {
  position: relative;
  top: -90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "vCard1 vCard2 vCard3";
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto; }

.cardServcios1 {
  width: 250px;
  height: 250px;
  background: #010440;
  border: 1px solid #000000;
  overflow: hidden;
  margin: 10px;
  align-self: center;
  justify-self: center;
  grid-area: vCard1; }
  .cardServcios1 img {
    width: 249px;
    height: 152px;
    position: center; }
  .cardServcios1 h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -30px;
    text-align: center; }
  .cardServcios1 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -20px;
    margin: 5px; }

.cardServcios2 {
  width: 250px;
  height: 250px;
  background: #010440;
  border: 1px solid #000000;
  overflow: hidden;
  margin: 10px;
  align-self: center;
  justify-self: center;
  grid-area: vCard2; }
  .cardServcios2 img {
    width: 249px;
    height: 152px;
    position: center; }
  .cardServcios2 h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -30px;
    text-align: center; }
  .cardServcios2 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -20px;
    margin: 5px; }

.cardServcios3 {
  width: 250px;
  height: 250px;
  background: #010440;
  border: 1px solid #000000;
  overflow: hidden;
  margin: 10px;
  align-self: center;
  justify-self: center;
  grid-area: vCard3; }
  .cardServcios3 img {
    width: 249px;
    height: 152px;
    position: center; }
  .cardServcios3 h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -30px;
    text-align: center; }
  .cardServcios3 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -20px;
    margin: 5px; }

.cardServcios4 {
  width: 250px;
  height: 250px;
  background: #010440;
  border: 1px solid #000000;
  overflow: hidden;
  margin: 10px;
  align-self: center;
  justify-self: center;
  grid-area: vCard4;
  display: none; }
  .cardServcios4 img {
    width: 249px;
    height: 152px;
    position: center; }
  .cardServcios4 h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -30px;
    text-align: center; }
  .cardServcios4 p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #F2F2F2;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    position: relative;
    top: -20px;
    margin: 5px; }

.home-Logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "fedPat fedPat triunfo sanCris sanCris";
  justify-content: center;
  align-items: center;
  background-color: #D3D0D0;
  width: 100%;
  height: 190px; }

.home-Logo-FedPat {
  grid-area: fedPat;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 324px; }
  .home-Logo-FedPat a img {
    width: 100%;
    height: auto; }

.home-Logo-Triunfo {
  grid-area: triunfo;
  align-self: center;
  justify-self: center; }

.home-Logo-SanCris {
  grid-area: sanCris;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 324px; }
  .home-Logo-SanCris a img {
    width: 100%;
    height: auto; }

.quienes-Fondo {
  background-image: url("../assets/img/fondo-nos.jpg");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.quienes-Son {
  background-color: #0055A2;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "foto texto texto";
  justify-content: center;
  margin: 0px 0px 0px 0px; }

.quienes-Foto {
  grid-area: foto;
  justify-self: center;
  background-image: url("../assets/img/quienes.png");
  width: 351px;
  height: 321px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 20px; }

.quienes-texto {
  grid-area: texto;
  justify-self: center;
  align-self: center;
  background-color: #010440;
  padding: 10px;
  width: auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  text-align: center;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .quienes-texto h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 56px;
    color: #F2F2F2;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center; }
  .quienes-texto h2 {
    font-size: 1.125rem; }
  .quienes-texto p {
    font-size: 1.125rem; }

.contactoFondo {
  background-image: url("../assets/img/contacto-fedpat.png");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.contactoMedio {
  background-color: #0055A2;
  width: 100%;
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "mapaGoogle contactoTexto";
  justify-content: center; }

.mapaGoogle {
  width: 90%;
  grid-area: mapaGoogle;
  justify-self: center;
  position: relative;
  top: -30px; }

.contactoTexto {
  grid-area: contactoTexto;
  justify-self: center;
  align-self: center;
  background-color: #010440;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  text-align: center;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.contactoBase {
  background-color: #0055A2;
  width: 100%;
  height: 40px; }

.cotizaFondo {
  background-image: url("../assets/img/fondo-cotiza.png");
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.cotizaMedio {
  background-color: #0055A2;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "titform fomul";
  justify-content: center; }

.titulo-formulario {
  margin: 20px;
  grid-area: titform; }
  .titulo-formulario h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    text-align: center;
    position: relative;
    text-align: left;
    margin-bottom: 0px; }
  .titulo-formulario h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 56px;
    color: #F2F2F2;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin-bottom: 0px; }

.cotiza-formulario {
  background-color: #010440;
  height: auto;
  grid-area: fomul;
  justify-self: center;
  align-self: center;
  color: #F2F2F2;
  padding: 20px;
  margin: 20px; }
  .cotiza-formulario form fieldset {
    border: none; }
  .cotiza-formulario form fieldset div {
    padding: 5px; }

.itemFormul {
  width: 40vw; }

.botones {
  display: flex;
  justify-content: space-around; }

.servicios-Fondo {
  background-image: url("../assets/img/fondo_serv1.png");
  width: 100%;
  height: 200px;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: auto; }
  .servicios-Fondo h1 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 47px;
    color: #F2C335;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
    text-align: center;
    position: relative;
    font-size: 2.5rem;
    text-align: center; }

.servicios-Intro {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  background-color: #010440;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  text-align: center;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .servicios-Intro h2 {
    font-size: 1.5rem; }
  .servicios-Intro p {
    font-size: 1.125rem;
    text-align: justify;
    margin: 20px; }

.serv-card {
  background-color: #0055A2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 20px;
  grid-template-rows: auto;
  grid-template-areas: "simg stexto stexto stexto xx";
  justify-content: center;
  align-items: center;
  width: auto;
  height: 220px;
  margin-bottom: 50px;
  margin-left: 4vw;
  overflow: hidden; }

.serv-card-Der {
  background-color: #0055A2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 20px;
  grid-template-rows: auto;
  grid-template-areas: "simg stexto stexto stexto xx";
  justify-content: center;
  align-items: center;
  width: auto;
  height: 220px;
  margin-bottom: 50px;
  margin-left: 4vw;
  overflow: hidden;
  grid-template-columns: 20px 1fr 1fr 1fr 1fr;
  grid-template-areas: "xx stexto stexto stexto simg";
  margin-left: 0vw;
  margin-right: 4vw; }

.serv-card-img {
  grid-area: simg;
  align-self: center;
  justify-self: center; }
  .serv-card-img img {
    width: auto;
    height: auto; }

.serv-card-texto {
  grid-area: stexto;
  justify-self: center;
  align-self: center;
  background-color: #010440;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 26px;
  text-align: center;
  color: #F2F2F2;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: justify; }

@media (max-width: 768px) {
  .BV-navBar li a {
    font-size: 1.125rem; }
  .contactoMedio {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "mapaGoogle" "contactoTexto"; }
  .contactoBase {
    width: 100%;
    height: 20px; }
  .mapaGoogle {
    width: 95%; }
  .footer {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "copyR redes ssn ssn" "matricula matricula qr qr";
    align-items: center;
    gap: 5px; }
  .quienes-Son {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "foto" "texto"; }
  .quienes-Fondo {
    height: 150px; }
  .quienes-Foto {
    width: 250px;
    height: 229px;
    margin: 10px; }
  .titulo-formulario {
    margin: 10px; }
    .titulo-formulario h1 {
      font-size: 1.5rem;
      text-align: center; }
    .titulo-formulario h2 {
      font-size: 1.125rem;
      text-align: center; }
  .itemFormul {
    width: 90vw; }
  .cotizaFondo {
    height: 150px;
    background-position: center; }
  .cotizaMedio {
    grid-template-columns: 1fr;
    grid-template-areas: "titform" "fomul"; }
  .servicios-Fondo {
    height: 150px;
    background-size: contain; }
    .servicios-Fondo h1 {
      font-size: 2rem; }
  .serv-card {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "simg stexto stexto";
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    height: auto; }
  .serv-card-Der {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "stexto stexto simg";
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    height: auto; }
  .home-Titulo {
    height: 320px; }
    .home-Titulo h1 {
      font-size: 2.5rem;
      padding-top: 15px; }
  .home-SubTitulo h2 {
    font-size: 2rem; }
  .home-Servicios {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "vCard1 vCard2" "vCard3 vCard4"; }
  .cardServcios4 {
    display: inline-block; }
  .home-Logos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "fedPat fedPat triunfo" "sanCris sanCris sanCris";
    height: auto; }
  .home-Logo-FedPat {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 260px; }
  .home-Logo-SanCris {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 260px; } }

@media screen and (max-width: 576px) {
  .servicios-Fondo {
    height: 100px; }
    .servicios-Fondo h1 {
      font-size: 1.5rem; }
  .serv-card {
    grid-template-columns: 1fr;
    grid-template-areas: "simg" "stexto"; }
  .serv-card-Der {
    grid-template-columns: 1fr;
    grid-template-areas: "simg" "stexto"; }
  .home-Titulo h1 {
    font-size: 2rem;
    padding-top: 10px; }
  .home-Servicios {
    grid-template-columns: 1fr;
    grid-template-areas: "vCard1" "vCard2" "vCard3" "vCard4"; }
  .home-Logos {
    grid-template-columns: 1fr;
    grid-template-areas: "fedPat" "triunfo" "sanCris"; }
  .home-Logo-FedPat {
    margin-top: 10px;
    margin-bottom: 10px; }
  .home-Logo-SanCris {
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 440px) {
  .contactoFondo {
    height: 130px; }
  .contactoBase {
    width: 100%;
    height: 10px; }
  .quienEsLaura {
    grid-area: mapaGoogle;
    width: 328px;
    height: 300px; }
  .footer {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "copyR redes" "ssn ssn" "matricula qr";
    align-items: center;
    gap: 5px; }
  .qrAfip {
    width: 45px;
    height: 68px; }
  .matricula {
    grid-area: matricula;
    justify-self: center;
    text-align: center; }
  .itemFormul {
    width: 80vw; }
  .quienes-Fondo {
    height: 100px; }
  .quienes-Foto {
    width: 200px;
    height: 183px;
    margin: 10px; }
  .cotizaFondo {
    height: 100px; }
  .home-Titulo {
    height: 250px; }
    .home-Titulo h1 {
      padding-top: 10px; }
  .home-Logo-FedPat {
    max-width: 200px; }
  .home-Logo-SanCris {
    max-width: 200px; } }
