@mixin grid($justify, $align, $col){
    display: grid;
    justify-content: $justify;
    align-items: $align;
    grid-column: $col;
}

@mixin flex($direct,$justify,$align){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;

}