@mixin grid($justify, $align, $col){
    display: grid;
    justify-content: $justify;
    align-items: $align;
    grid-column: $col;
}

@mixin flex($direct,$justify,$align){
    display: flex;
    flex-direction: $direct;
    justify-content: $justify;
    align-items: $align;
}

@mixin typoFooter{
    text-align: right;
    font-family: $typo-principal;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

@mixin tituloNaranja{
    font-family: $typo-principal;
    font-style: normal;
    font-weight: 700;
    font-size: $font-Tit;
    line-height: 47px;
    color: $naranja;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.324);
    text-align: center;
    position:relative;
    //top: -80px;
}