$typo-principal:'Roboto', sans-serif;

// colores
$azul-fondo:#010440;
$azul2: #181A40;
$amarillo: #F2E52E;
$naranja:#F2C335;
$gris: #F2F2F2;
$logo-FetPat: #0055A2;
$blanco-Header:#ffffff;

// tamaños fuentes
$font-Tit:2rem;
$font-Subtit: 1.5rem;
$font-Text: 1.125rem;
