.header2{
    background-color: aqua;
    background-image: url("../../assets/img/mapa.png");
    @include grid(center, end, repeat(3,1fr));
}

.navBar123{
    list-style: none;
    li{
        font-size: 20px;
        a{
            text-decoration: none;
            font-family: $typo-principal;
            color: black;
            &:hover{
                color: white;
            }
        }
    }
}

.section123{
    @extend .navBar123;
    li{
        font-size: 40px;
    }
}


.main123{
    background-color:aliceblue;
    @include flex(row,center,center);
}