.BV-header{
    background-color: $azul-fondo !important;
    height: 80px;
}
.seccion-actual{
    color: $naranja;
}
.seccion-otra{
    color:$blanco-Header;
    text-decoration: none;
}
.BV-menu{
    background-color: $azul-fondo;
    z-index: 10;
}
.BV-navBar{
    li{
        // list-style-type: none;
        // list-style-position: outside;
        a{
            text-transform: capitalize;
            font-family: $typo-principal;
            font-style: normal;
            font-weight: 400;
            font-size: $font-Subtit;
            line-height: 38px;
        }
        a:hover {
            color: $naranja;
          }
    }
}
.navbar-toggler{
    background-color: $blanco-Header;
}