.servicios-Fondo{
    background-image:url("../assets/img/fondo_serv1.png");
    width: 100%;
    height: 200px;
    background-repeat:repeat;
    background-position:center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        @include tituloNaranja;
        font-size: 2.5rem;
        text-align: center;
    }
    margin-bottom: 20px;
    overflow:auto;
}

.servicios-Intro{
    width: auto;
    height: auto;
    margin-bottom: 20px;
    background-color:$azul-fondo;
    padding: 10px;
    
    @include typo-Blanca;

    h2{
        font-size: $font-Subtit;
    }
    p{
        font-size: $font-Text;
        text-align:justify;
        margin: 20px;
    }
}

.serv-card{
    @include card-Servicio
}
.serv-card-Der{
    @include card-Servicio;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "xx stexto stexto stexto simg";
    margin-left: 0vw;
    margin-right: 4vw;
}
.serv-card-img{
    grid-area: simg;
    align-self: center;
    justify-self: center;
    img{
        width: auto;
        height: auto;
    }
}

.serv-card-texto{
    grid-area: stexto;
    justify-self: center;
    align-self: center;
    background-color:$azul-fondo;
    padding: 20px;

    @include typo-Blanca;
    text-align:justify;
}

