
.quienEsLaura{
    grid-area: mapaGoogle;
    justify-self: center;    
    background-image:url("../assets/img/quienes.png");
    width: 468px;
    height: 428px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin: 20px;
}