@media screen and (max-width:576px){
    .servicios-Fondo{
        height: 100px;
        h1{
            font-size: $font-Subtit;
        }
    }
    .serv-card{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "simg"
        "stexto";
    }
    .serv-card-Der{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "simg"
        "stexto";
    }

    .home-Titulo{
        h1{
            font-size: $font-Tit;
            padding-top: 10px;
        }
    }

    .home-Servicios{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "vCard1"
        "vCard2"
        "vCard3"
        "vCard4";
    }

    .home-Logos{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "fedPat"
        "triunfo"
        "sanCris";
    }
    .home-Logo-FedPat{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .home-Logo-SanCris{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:440px){
    .contactoFondo{
        height: 130px;
    }
    .contactoBase{
        width: 100%;
        height: 10px;
    }
    .quienEsLaura{
        grid-area: mapaGoogle;
        width: 328px;
        height: 300px;
    }    
    .footer{
        height: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "copyR redes"
        "ssn ssn"
        "matricula qr";
        align-items: center;
        gap: 5px;
    }

    .qrAfip{
        width: 45px;
        height: 68px;
    }
    .matricula{
        grid-area: matricula;
        justify-self:center;
        text-align: center;
    }
    .itemFormul{
        width: 80vw;
    }
    .quienes-Fondo{
        height: 100px;
    }
    .quienes-Foto{
        width: 200px;
        height: 183px;
        margin: 10px;
    }
    .cotizaFondo{
        height: 100px;
    }

    .home-Titulo{
        height: 250px;
        h1{
            padding-top: 10px;
        }
    }

    .home-Logo-FedPat{
        max-width: 200px;
    }
    .home-Logo-SanCris{
        max-width: 200px;
    }
}

