@media screen and (min-width:1200px){
    .home-Servicios{
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "vCard1 vCard2 vCard3 vCard4";
    }
    .cardServcios4{
        display: unset;
    }
}