@media screen and (max-width:440px){
    .contactoFondo{
        height: 130px;
    }
    .quienEsLaura{
        grid-area: mapaGoogle;
        width: 328px;
        height: 300px;
    }    
    .footer{
        height: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "copyR redes"
        "ssn ssn"
        "matricula qr";
        align-items: center;
        gap: 5px;
    }
    .copyR{
        // justify-self:center;
        // text-align: center;;
    }
    .redes{
        // grid-area: redes;
        // justify-self: center;
    }
    .qr{
        // grid-area: qr;
        // justify-self: center;
    }
    .qrAfip{
        width: 45px;
        height: 68px;
    }
    .matricula{
        grid-area: matricula;
        justify-self:center;
        text-align: center;
    }

    .quienes-Fondo{
        height: 100px;
    }
    .quienes-Foto{
        width: 200px;
        height: 183px;
        margin: 10px;
    }
}